<!DOCTYPE html>
<html>
  <head>
    <title>Single Page CV</title>
  </head>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 40px;
    }
    h1 {
      color: blue;
    }
    .mycontainer {
      width: 100%;
      overflow: auto;
    }
    .mycontainer div {
      width: 50%;
      float: left;
    }
    .left_container {
      text-align: left;
    }
    .right_container {
      text-align: right;
    }
  </style>
  <body>
    <h1>
      ---------------------------------------------------------------------------
    </h1>

    <div class="mycontainer">
      <div class="left_container">
        <h1>Sunil Kumar Hemrom</h1>
        <p>Mobile Application Developer</p>
      </div>
      <div class="right_container">
        <p>Raipur, Chhattisgarh</p>
        <p>+91 7024724730 | sunil9117@gmail.com</p>
        <a href="https://www.linkedin.com/in/sunil-hemrom-570000253"
          >https://www.linkedin.com/in/sunil-hemrom-570000253</a
        ><br />
        <a href="https://github.com/official16Dec"
          >https://github.com/official16Dec</a
        >
      </div>
    </div>

    <div class="objective_container">
      <h2><u>OBJECTIVE</u></h2>
      <p>
        Experienced Mobile App Developer with 6+ years in native and
        cross-platform mobile app development. Skilled in building scalable apps
        across e-commerce, and enterprise solutions. Adept in full SDLC, Agile
        practices, and modern frameworks. Seeking to leverage expertise to
        deliver innovative and user-centric applications.
      </p>
    </div>

    <div class="proficiency_container">
      <h2><u>PROFICIENCY</u></h2>
      <ul>
        <li>
          Strong expertise in Kotlin and Java for Android development.
          Experience building applications for both Android phones and tablets,
          including adaptive UI design.
        </li>
        <li>
          Solid understanding of Android SDK, Kotlin fundamental concepts -
          Coroutines, Flow, Null Safety, Kotlin Multiplatform(KMP), Jetpack
          components, and architecture patterns (MVVM, MVP, or MVI).
        </li>
        <li>Experience integrating RESTful APIs, JSON, and third-party SDKs</li>
        <li>
          Strong understanding of Play Console submission process, signing, and
          app release management.
        </li>
        <li>
          Proficiency with GitHub and Git-based workflows, CI/CD pipeline.
        </li>
        <li>
          Familiarity with performance optimization, memory management, and
          security best practices.
        </li>
        <li>Excellent problem-solving, debugging, and analytical skills.</li>
        <li>
          Strong collaboration and communication skills, additionally
          Ai-Prompting
        </li>
      </ul>
    </div>

    <div class="experience_container">
      <h2><u>EXPERIENCE</u></h2>
      <h3>
        Mobile Application Developer | Allsoft Consulting Pvt Ltd – Raipur | Feb
        2024 – Present
      </h3>
      <ul>
        <li>
          <strong>Vachan App</strong>, an e-commerce solution with subscription,
          account statements, feedback & ratings.
        </li>
        <li>
          <strong>TimeMarkr</strong>, a GPS-based resource management app with
          selfie verification, scheduling, reporting & encryption.
        </li>
      </ul>

      <h3>
        Mobile Application Developer | Codenicely Software Services LLP – Raipur
        | Aug 2020 – Jan 2024
      </h3>
      <ul>
        <li>
          Built <strong>Health-Potli</strong> (medicine inventory & ordering,
          APIs & RazorPay integration).
        </li>
        <li>
          Enhanced <strong>Cashpo</strong> Loan App with EMI management.
          Developed <strong>eKisan Mart</strong>, <strong>BrushCircle</strong>,
          <strong>Golbazaar</strong> – e-commerce apps with RESTful services &
          MVVM.
        </li>
      </ul>
      <h3>
        Mobile Application Developer | Logixhunt – Bhilai | Aug 2018 – Jan 2020
      </h3>
      <ul>
        <li>
          Built <strong>Health-Potli</strong> (medicine inventory & ordering,
          APIs & RazorPay integration).
        </li>
        <li>
          Enhanced <strong>Cashpo</strong> Loan App with EMI management.
          Developed <strong>eKisan Mart</strong>, <strong>BrushCircle</strong>,
          <strong>Golbazaar</strong> – e-commerce apps with RESTful services &
          MVVM.
        </li>
      </ul>
    </div>
    <div class="education_container">
      <h2><u>EDUCATION</u></h2>
      <h3>Bachelor of Technology in Computer Science & Engineering</h3>
      <p>Chhattisgarh Swami Vivekanand Technical University, Bhilai (2014-2018)</p>
    </div>
    <div class="personal_details_container">
      <h2><u>PERSONAL DETAILS</u></h2>
      <p>Date of Birth: 17th December 1996</p>
      <p>Languages Known: English, Hindi</p>
      <p>Hobbies: Reading, Traveling, Exploring new technologies</p>
    </div>
    <div class="declaration_container">
      <h2><u>DECLARATION</u></h2>
      <p>I hereby declare that the information provided is true to the best of my
        knowledge and belief.</p>
      <p>Place: Raipur</p>
      <p>Date: 20th June 2024</p>
      <p>Signature: Sunil Kumar Hemrom</p>
    </div>
  </body>
</html>
